<h3>Dijstra's Algorithm Clicker Question - Answer</h3>

Below is an adjacency matrix for a weighted, undirected graph.  

<p><center><table border=3 cellpadding=10><td>
<pre>
      A   B   C   D   E   F   G   H   I   J

A     -   -   5   -   -   -   4   9   3   4
B     -   -   -   -   -   -   5   -   -   5
C     5   -   -   -   -   1   -   -   -   -
D     -   -   -   -   -   -   7   -   -   -
E     -   -   -   -   -   2   -   -   5   -
F     -   -   1   -   2   -   1   8   -   5
G     4   5   -   7   -   1   -   -   -   -
H     9   -   -   -   -   8   -   -   4   -
I     3   -   -   -   5   -   -   4   -   -
J     4   5   -   -   -   5   -   -   -   -
</pre>
</td></table></center><p>

<b>Question 1</b>: After one pass of Dijkstra's algorithm starting with node <b>A</b>, give me the order of the nodes on the
multimap, as a single string (if there are multiple possible answers, just give me one of them).
<p>
<i>Answer: These are simply the nodes connected to A, ordered by their distance to A.  The multimap will be:

<p><center><table border=3><td><pre>
[3,I]
[4,G]     -- The order of G and J may be reversed.
[4,J]
[5,C]
[9,H]
</pre></td></table></center><p>

Thus, the answer is: IGJCH or IJGCH.</i>

<p>
<b>Question 2</b>: After the second pass of Dijkstra's algorithm starting with node <b>A</b>, give me the order of the nodes on the
multimap, as a single string (if there are multiple possible answers, just give me one of them).
<p>
<i>Answer: Now, we remove node I from the multimap, and process it.  That adds node E with a weight of 8,
and replaces node H, because it has a shorter distance of 7.  The multimap is now:


<p><center><table border=3><td><pre>
[4,G]     -- The order of G and J may be reversed.
[4,J]
[5,C]
[7,H]
[8,E]
</pre></td></table></center><p>

The answer is GJCHE or JGCHE</i>
