<h3>Network Flow Clicker Questions, Set 1</h3>

The following is an adjacency matrix for a network flow graph with source <i>S</i>
and sink <i>T</i>.

<p><center><table border=3 cellpadding=8><td><pre>
       S     A     B     C     D     T
    ----  ----  ----  ----  ----  ---- 
 S |   0  2527  8971     0  6156     0
 A | 600     0     0     0     0     0
 B |   0     0     0     0     0     0
 C |   0  4655  2311     0   600  6517
 D |   0   600  6170  2026     0     0
 T |   0     0     0   600     0     0
</pre></td></table></center><p>

Please answer the following questions:

<OL>
<LI> There is only one augmenting path through the graph.  What is it (give your
answer as a single word containing the nodes in order, like "SABCDT")?
<p>
<LI> What is the flow through that path?
<p>
<LI> As you may suspect, the adjacency list above is a residual graph that has already
processed one augmenting path through an original graph.  What was the flow of that path?
<p>
<LI> What was that path?  (again, please give your
answer as a single word containing the nodes in order, like "SABCDT")?
<p>
<LI> What is the minimum cut of the graph (answer a single word, with no spaces, where the
edges are saparated by hyphens, like "SA-CT" for edges <i>SA</i> and <i>CT</i>).
</OL>

If you are going to draw the graph, I'd suggest laying it out as follows:

<p><center><table border=3 cellpadding=3><td><pre>
                                                        
                   A                                    
                                                        
                                                        
        S          D            C             T         
                                                        
                                                        
                   B                                    
                                                        
</pre></td></table></center><p>
