<h3>Network Flow Clicker Questions, Set 1</h3>

The following is an adjacency matrix for a network flow graph with source <i>S</i>
and sink <i>T</i>.

<p><center><table border=3 cellpadding=8><td><pre>
       S     A     B     C     D     T
    ----  ----  ----  ----  ----  ---- 
 S |   0  2527  8971     0  6156     0
 A | 600     0     0     0     0     0
 B |   0     0     0     0     0     0
 C |   0  4655  2311     0   600  6517
 D |   0   600  6170  2026     0     0
 T |   0     0     0   600     0     0
</pre></td></table></center><p>

Please answer the following questions:

<OL>
<LI> There is only one augmenting path through the graph.  What is it (give your
answer as a single word containing the nodes in order, like "SABCDT")?
<p>
<i>Answer: I don't feel as though it's necessary to draw the graph, but it 
may help you visualize, so I'll put it at the bottom of this page.  Try doing it without
drawing the graph.  It's easiest to do this backward -- there is only one edge to <i>T</i>,
coming from <i>C</i>.  There are to edges to <i>C</i> -- from <i>D</i> and <i>T</i>.
We'll ignore the one from <i>T</i> because it's useless, so now let's focus on <i>D</i>.
There is an edge from <i>S</i> to <i>D</i>, so our path is done: "SDCT".</i>
<p>
<hr>
<LI> What is the flow through that path?
<p>
<i>Answer: It is the minimum capacity edge along that path: 2026.</i>
<p>
<hr>
<LI> As you may suspect, the adjacency list above is a residual graph that has already processed one augmenting path through an original graph. What was the flow of that path?
<p>
<i>Answer: Look at all of those edges with capacity of 600.  Moreover, one of them
comes from <i>T</I> and one of them goes to <i>S</i>.  The path had a flow of 600.</i>
<p>
<hr>
<LI> What was that path?  (again, please give your
answer as a single word containing the nodes in order, like "SABCDT")?
<p>
<i>Answer: Here are the edges with capacity 600: T to C, C to D, D to A, A to S.  So
that path was SADCT.</i>
<p>
<hr>
<LI> What is the minimum cut of the graph (answer a single word, with no spades, where the
edges are saparated by hyphens, like "SA-CT" for edges <i>SA</i> and <i>CT</i>).
<p>
<i>Answer: OK, you really do this one better if you draw the graph:

<p><center><table border=3><td><img src=img/clicka.jpg></td></table></center><p>

When you process the path SDCT, the source will be cut off from the sink, and the
nodes reachable from the source will be <i>S</i>, <i>A</i>, <i>B</i> and <i>D</i>.
<p>
Here's where you have to envision what the original graph was -- it was a graph
where all of those 600's are flipped/added to their reverse edges.  So:

<p><center><table border=3><td><img src=img/clicka-2.jpg></td></table></center><p>

There's only one edge that goes from the source set to the sink set -- edge <i>DC</i>.
So that's the answer.

</OL>
