<title>Answers to Clicker Questions for Convertible Strings</title>
<h3>Answers to Clicker Questions for Convertible Strings</h3>

<OL>
<LI> What is the answer when:
<pre>
  A = "AABBBCCC"
  B = "DEDDDEEE"
</pre>
<i>Answer: You can pretty much eyeball this one.  
If you match <tt>'B'</tt> in <i>A</i> to <tt>'D'</tt> in <i>B</i>, and then you match 
<tt>'C'</tt> in <i>A</i> to <tt>'E'</tt> in <i>B</i>, then you'll have to delete the first two characters of
each string.
<p>
On the flip side, if you decide to keep the first character, then you'll have to delete
the second <tt>'A'</tt> and all of the <tt>'B'</tt>s.  That's four deletions.  The same occurs if you keep the
second character.  
<p>
So the answer is two.</i>
<p>
<hr>
<LI> Now, suppose you are given:
<pre>
  A = "AAABBBCCC"
  B = "DDEDDDEEE"
</pre>
You'll note that this matches the previous problem, except we've added a new character to the
beginning of each string.  If we decide to solve the problem by deleting the first character of both strings, then what will our answer be?
<p>
<i>Answer: Well, the answer to the previous question was two, and I'm deleting one more character,
so the answer will be three.</i>
<p>
<hr>
<LI> On the flip side, suppose that we don't want to delete the first character of each 
string.  In other words, we are going force <tt>'A'</tt> in <i>A</i> to match <tt>'D'</tt> in <i>B</i>.  Now
what will our answer be?
<p>
<i>Answer: If I force <tt>'A'</tt> to match <tt>'D'</tt>, then I have to delete the last <tt>'A'</tt> and all of the <tt>'B'</tt>s,
and the answer will be four.  This means that the better approach is the one above, which yields
three</i>.
</OL>
