<h3>Clicker Questions on the Subsequence Problem - Answers</h3>

<OL>
<LI> 3 ("Fyy")
<LI> 4 ("Accc")
<LI> True -- any common subsequence that doesn't start with '9' can be made bigger by putting a '9' in front.
<LI> The two lines are identical (since "sort -u" is one line).  Each string is 2592-characters
(the output of "sort -u" has a newline), so the answer is 2592.
</OL>
