<h3>Answers to Clicker Question on Prim's Algorithm</h3>

<hr>
<b>Question 1.</b> We start by putting node <b>A</b> onto the spanning tree, and then
we put <b>A</b>'s edges onto the multimap, ordered by smallest edge weight.  That means
the multimap will be:
<pre>
[  12, D ]
[  91, B ]
</pre>
We then pull the smallest node off the multimap and put it on the spanning tree.  That
is node <b>D</b>.
<hr>
<b>Question 2.</b>  When we process node D, we don't update <b>B</b>'s entry on the multmap,
because <b>DB</b> has a larger weight.  We do put <b>G</b> on the multimap, though.  It becomes:
<pre>
[  84, G ]
[  91, B ]
</pre>
We then pull the smallest node off the multimap and put it on the spanning tree.  That is
node <b>G</b>.
<hr>
<b>Question 3.</b> We process node <b>G</b>, which puts <b>E</b> and <b>H</b> onto the 
multimap.  It becomes:
<pre>
[  20, H ]
[  45, E ]
[  91, B ]
</pre>
We then pull the smallest node off the multimap and put it on the spanning tree.  That is
node <b>H</b>.

<hr>
<b>Question 4.</b> We process node <b>H</b>, which puts nodes <b>F</b> and <b>I</b> onto
the multimap.  Here's the multimap:
<pre>
[  39, F ]
[  45, E ]
[  91, B ]
[ 112, I ]
</pre>

So the answer is "F-E-B-I".
<hr>
<b>Question 5.</b> We've already put A, D, G and H onto the tree with edges of weight 12, 84
and 20.  Next comes:
<pre>
The edge to F with a weight of 39.  Multimap becomes:
                                    [  45, E ]
                                    [  51, I ]
                                    [  78, C ]
                                    [  91, B ]
             
The edge to E with a weight of 45.  Multimap becomes:
                                    [  51, I ]
                                    [  78, C ]
             
The edge to I with a weight of 51.  Multimap becomes:
                                    [  78, C ]
                                    [  91, B ]

The edge to C with a weight of 78.  Multimap becomes:
                                    [  67, B ]

The edge to B with a weight of 67.  That's it.

 12 + 84 = 96
 96 + 20 = 116
116 + 39 = 155
155 + 45 = 200
200 + 51 = 251
251 + 78 = 329
329 + 67 = 396

The answer is 396.  No calculator or drawings needed.
<p>

