<h3>Clicker Question on Kruskal's Algorithm</h3>

Your kingdom is composed of 8 walled cities, which are connected by roads, tunnels, and other
various pathways.  There may be redundant connections between the cities, and there are
even some odd paths that simply go from a city back to itself.
<p>
An earthquake has occurred, and all roads, tunnels and paths have been destroyed.  Each has
a rebuilding cost which has been reported to you in the manifest below.  You want to rebuild
the minimum number of paths/roads/tunnels to connect all of the cities, and you want to do that
with minimum cost.   What is that minimum cost?
<p>
You should use Kruskal's algorithm here.  Trust me.

<pre>
Pathway                             Rebuilding Cost
-----------------------------       ---------------
  Path from Daro    to Gwan               2
Tunnel from Enid    to Caral              2
  Path from Angkor  to Enid               5
  Path from Enid    to Caral              6
  Path from Caral   to Enid               7
  Road from Gwan    to Enid               8
Tunnel from Babylon to Hatra              9
  Road from Babylon to Forsal             9
  Road from Forsal  to Hatra             11
  Road from Caral   to Daro              13
  Road from Enid    to Enid              14
  Road from Enid    to Angkor            14
  Road from Enid    to Gwan              15
  Road from Forsal  to Daro              17
  Path from Hatra   to Daro              17
  Road from Gwan    to Gwan              18
Tunnel from Hatra   to Babylon           20
  Path from Enid    to Hatra             21
  Path from Daro    to Enid              24
  Path from Gwan    to Gwan              26
Tunnel from Forsal  to Hatra             27
  Road from Angkor  to Daro              29
  Road from Caral   to Caral             29
  Road from Forsal  to Enid              30
Tunnel from Gwan    to Daro              34
  Road from Angkor  to Babylon           35
Tunnel from Angkor  to Caral             35
  Path from Forsal  to Gwan              35
  Road from Forsal  to Angkor            36
  Path from Forsal  to Angkor            39
Tunnel from Gwan    to Babylon           43
Tunnel from Enid    to Caral             44
Tunnel from Gwan    to Babylon           44
Tunnel from Angkor  to Angkor            48
  Path from Daro    to Angkor            49
Tunnel from Babylon to Hatra             51
Tunnel from Caral   to Gwan              53
  Road from Angkor  to Angkor            54
  Road from Hatra   to Gwan              56
  Path from Enid    to Caral             57
  Path from Forsal  to Caral             61
  Road from Hatra   to Angkor            61
  Path from Enid    to Forsal            62
  Road from Babylon to Caral             66
Tunnel from Forsal  to Gwan              66
Tunnel from Forsal  to Babylon           68
  Path from Hatra   to Hatra             68
  Path from Daro    to Gwan              73
  Road from Enid    to Babylon           73
Tunnel from Forsal  to Caral             76
Tunnel from Babylon to Angkor            77
  Path from Babylon to Daro              79
  Path from Hatra   to Angkor            79
  Road from Angkor  to Caral             82
Tunnel from Babylon to Babylon           82
  Path from Daro    to Forsal            84
  Road from Daro    to Hatra             88
  Road from Hatra   to Gwan              90
  Road from Babylon to Hatra             91
Tunnel from Daro    to Hatra             93
  Road from Caral   to Caral             95
  Road from Babylon to Daro              97
  Road from Forsal  to Caral             97
  Path from Forsal  to Daro              97
