<h3>Answer to Clicker Question on Kruskal's Algorithm</h3>

52.  I explain it, and show how you should answer a question like this on an exam, in 
<a href=https://youtu.be/TCqULf8l594>https://youtu.be/TCqULf8l594</a>.
