<h3>Clicker Questions for Topological Sort</h3>

<hr>
<b>Question 1:</b> Let us suppose I have the following directed graph:
<UL>
<LI> For every non-negative integer <i>i</i>, there is a node <i>n<sub>i</sub></i>.
     Yes, that means that there is an infinite number of nodes.
<LI> There is a special node <i>t</i>.
<LI> For every node <i>n<sub>i</sub></i>, there is an edge to <i>n<sub>i+1</sub></i> with 
     weight 1.
<LI> If <i>i</i> is a prime number, then there is an edge from 
   <i>n<sub>i</sub></i>
   to 
   <i>n<sub>5i</sub></i> with weight 1.
<LI> If <i>i</i> is a prime number > 10000, then there is an edge from 
   <i>n<sub>i</sub></i>
   to 
   <i>t</i> with weight 1.
</UL>

True or false -- this graph is acyclic.

<hr>
<b>Question 2:</b> 

In the graph above, 
suppose I want to find the path from 1 to <i>t</i> with the smallest overall weight of edges.
Which algorithm will be the best?

<UL>
<LI> <b>A.</b> Depth-first search.
<LI> <b>B.</b> Breadth-first search
<LI> <b>C.</b> Dijkstra's algorithm
<LI> <b>D.</b> Network Flow
<LI> <b>E.</b> Topological Sort
</UL>

<hr>
<b>Question 3:</b> 

True or false: Since the graph is of infinite size, I am not guaranteed to find the shortest
path in a finite amount of time.

<hr>
<b>Question 4:</b> 

In the graph above, suppose that the weights of the edges are random numbers, 
uniformly distributed from 1 to 50.  Now, which is the best algorithm for finding 
the path from 1 to <i>t</i> with the smallest overall weight of edges?

<UL>
<LI> <b>A.</b> Depth-first search.
<LI> <b>B.</b> Breadth-first search
<LI> <b>C.</b> Dijkstra's algorithm
<LI> <b>D.</b> Network Flow
<LI> <b>E.</b> Topological Sort
</UL>

<hr>
<b>Question 5:</b> 

In the graph below, what is the flow of the path with maximum flow from A to P.
Hint: use topological sort to keep track of the maximum flow path of each node
from B to P.

<p><center><table border=3><td><a href=img/clicker-graph.jpg><img src=img/clicker-graph.jpg width=800></a></td></table></center><p>
